/* profile section */
section#box-profile{
    position: relative;
    width: 80%;
    min-height: 250px;
    margin-left: 0%;
    margin-right: 10%;
    margin-top: 6px;
}
#box-profile .img-profile{
    position: relative;
    width: 200x;
    height: 200px;
    float: left;
    top: 25px;
    margin-left: 40px;
}
img{
    width: 300px;
    height: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 - 20px;
    border-radius: 0%;
}
.description{
    position: relative;
    width: 400px;
    float: left;
    top: 50px;
    margin-left: 30px;
    font-family:Arial, Helvetica, sans-serif
}
.description h1{
    font-size: 32px;
    margin-top: -10px;
    margin-bottom: 25px;
}
.categories{
    position: relative;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    top: 45px;
    margin-left: 30px;
}
article{
    top: 90px;
    position: relative;
    bottom: -120px;
    margin-top: 5px;
    margin-left: 35px;
    margin-right: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.video{
    position: relative;
    float: left;
    margin-top: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 35px;
}
.attach{
    float: right;
    position: relative;
    margin-top: 100px;
    margin-right: 35px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding: 20px;
    border: solid;
    width: 410px;
    height: 260px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.gambar{
    float: right;
    width: 290px;
    height: 290px;
    border: solid;
    position: relative;
    padding: 5px;
    margin-top: 100px;
    margin-left: 40px;
}
.image{
    width: 143px;
    height: 143px;
}

